---

short: home
title: homepage
project: false

---

<section class="about-section">
	<p class="highlighted">{{ site.description}}</p>
</section>

<div class="contentList">
	<h1 class="header contentList-header">Projects</h1>

	<ol>
		{{#each pages }}{{#if this.data.projects}}
			<li class="card card-project">
				<a href="project-{{this.data.short}}.html">
					<img src="img/projects/{{this.data.short}}/{{this.data.image}}" alt="" />
					<div class="text-group">
						<h2 class="header-image">{{this.data.title}}</h2>
						<ul class="tags">
							{{#each this.data.tags}}
								<li><span class="tag">{{.}}</span></li>
							{{/each}}
						</ul>
					</div>
				</a>
			</li>
		{{/if}}{{/each}}
	</ol>
</div><!--/.contentList-->